body {
    zoom: .6;
    text-align: center;
    background: hsl(180, 75%, 90%);
}

h3 {
    display: inline-block;
	font-family: helvetica;
    font-size: 2rem;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.score-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    background: hsl(180, 75%, 70%);
}